.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
body .wrapper{
  background: #f7f7f7;
  border-bottom: 3px solid #f7f7f7;
}
footer {
  background: #95e014;
  border-top: 15px solid #95e014;
  text-align: center;
  height: 45vh;
  position: relative;
  z-index: 2;
  font-family: "Arial";
}
footer h1{
  padding-top: 20px;
  font-size: 3.0em;
  font-family: "Biryani";
}
br {
   display: block;
   margin: 10px 0;
}

#paralax {
  padding: 0px;
}

#blocktext {
  text-align: left;
  padding-left: 15px;
  color: #575757;
  height: 700px;
  font-family: "Biryani";
}

#blocktext h1 {
  padding-top: 75px;
  font-size: 4.0em;
  color: #95e014;
}

#blocktext h2 {
  padding-top: 20px;
  padding-bottom:  20px;
  padding-left: 10px;
  line-height: 1.5;
  word-spacing: 10px;
}

#floattext {
  color: #f7f7f7;
  text-align: left;
  font-size: 6.5em;
  height: 700px;
  font-family: "Biryani";
}

#floattext h1{
  padding-top: 200px;
  font-size: 1.0em;
}

#twitter {
  padding: 50px;
}

#headbar {
  background: #424242;
  min-width: 100vw;
  height: 10vh;
  color: #f7f7f7;
  border-bottom: 10px solid #f7f7f7;
}

#footertext {
  color: #f7f7f7;
  border-top: 20px solid #f7f7f7;
  height: 43vh;
}

#footerdetails {
  display: block;
  background: #f7f7f7;
  color: #525252;
  padding: 10px;
  border-right: 10px solid #f7f7f7;
  border-bottom: 10px solid #95e014;
  text-align: center;
}

#sidebar {
    text-align: center;
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #95e014;
    color: #f7f7f7;
    border-right: 5px solid #f7f7f7;
    position: fixed;
    z-index: 1;
}
#sidebar .sidebar-header {
    padding: 20px;
    /*background: #f7f7f7;*/
}
#sidebar ul.components {
    padding: 20px;
}
#sidebar ul p {
    color: #f7f7f7;
    font-size: 0.9em;
}
#sidebar ul h4 {
  color: #f7f7f7;
  font-size: 1.4em;
  padding: 5px;
}
#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #424242;
    background: #f7f7f7;
    border-right: 10px solid #f7f7f7;
    border-bottom: 10px solid #95e014;
}
